In [3]:
import h5py
import pandas as pd 
import numpy as np

In [4]:
hp_sample = pd.read_hdf('data/hpsample.h5')

In [5]:
hp_new = hp_sample.reset_index()
hp_new['n__boot'] = 20
hp_new['seed'] = 49587

In [6]:
markov_lags = list(range(1, 102, 10))
hp_repeated = hp_new.loc[hp_new.index.repeat(11)].reset_index(drop=True)
hp_repeated['markov__lag'] = np.tile(markov_lags, len(hp_new))

In [7]:
hp_repeated.head()

,hp_ix,cluster__max_iter,cluster__stride,tica__dim,tica__lag,tica__kinetic_map,tica__stride,cluster__k,feature__value,dihedrals__which,distances__scheme,distances__transform,distances__steepness,distances__centre,n__boot,seed,markov__lag
0,0,1000,10,19,36,True,1,306,dihedrals,all,NaN,NaN,0.0,0.0,20,49587,1
1,0,1000,10,19,36,True,1,306,dihedrals,all,NaN,NaN,0.0,0.0,20,49587,11
2,0,1000,10,19,36,True,1,306,dihedrals,all,NaN,NaN,0.0,0.0,20,49587,21
3,0,1000,10,19,36,True,1,306,dihedrals,all,NaN,NaN,0.0,0.0,20,49587,31
4,0,1000,10,19,36,True,1,306,dihedrals,all,NaN,NaN,0.0,0.0,20,49587,41

In [8]:
len(hp_repeated)

1540

In [9]:
hp_repeated.columns

Index(['hp_ix', 'cluster__max_iter', 'cluster__stride', 'tica__dim',
       'tica__lag', 'tica__kinetic_map', 'tica__stride', 'cluster__k',
       'feature__value', 'dihedrals__which', 'distances__scheme',
       'distances__transform', 'distances__steepness', 'distances__centre',
       'n__boot', 'seed', 'markov__lag'],
      dtype='object')

In [34]:
hp_repeated.to_hdf('data/hpsample_full.h5', key='hps')

/tmp/ipykernel_164879/1968397205.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->Index(['feature__value', 'dihedrals__which', 'distances__scheme',
       'distances__transform'],
      dtype='object')]

  hp_repeated.to_hdf('hpsample_full.h5', key='hps')

In [11]:
result = pd.DataFrame()

In [14]:
result

Empty DataFrame
Columns: [bs]
Index: []

In [13]:
result['bs'] = 1

In [15]:
result['t2'] = 10

In [16]:
result

Empty DataFrame
Columns: [bs, t2]
Index: []

In [19]:
columns = ['bs'] + [f't{i+2}' for i in range(20)]

In [20]:
columns

['bs',
 't2',
 't3',
 't4',
 't5',
 't6',
 't7',
 't8',
 't9',
 't10',
 't11',
 't12',
 't13',
 't14',
 't15',
 't16',
 't17',
 't18',
 't19',
 't20',
 't21']

In [28]:
pd.DataFrame(dictpd,index=[0])

,bs,t2,t3,t4,t5,t6,t7,t8,t9,t10,...,t12,t13,t14,t15,t16,t17,t18,t19,t20,t21
0,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20

In [25]:
data = list(range(21))
dictpd = {k:v for k,v in zip(columns, data)}

In [29]:
pd.DataFrame({k:v for k,v in zip(columns, data)}, index=[0])

,bs,t2,t3,t4,t5,t6,t7,t8,t9,t10,...,t12,t13,t14,t15,t16,t17,t18,t19,t20,t21
0,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20